<div class="containers">
  <div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="https://static.pexels.com/photos/209439/pexels-photo-209439.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title" ><strong>Apple</strong></h5>
          <a  class="btn btn-primary" (click)="detailsdummy(1750340,'Apple')">Nutrition Details</a>
          <button type="button" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Add to favorites" style="margin-left: 5%;" (click)="loginalert()"><i class="bi bi-heart"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://image.freepik.com/free-photo/fresh-orange-fruit-close-up-black-background_120608-40.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> <strong>Orange</strong> </h5>
          <a  class="btn btn-primary" (click)="detailsdummy(746771,'Orange')">Nutrition Details</a>
          <button type="button" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Add to favorites" style="margin-left: 5%;" (click)="loginalert()"><i class="bi bi-heart"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://thumbs.dreamstime.com/b/cheese-different-sorts-cut-black-background-cheese-different-sorts-cut-black-background-119285262.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> <strong>Cheese</strong> </h5>
          <a  class="btn btn-primary" (click)="detailsdummy(328637,'Cheese')">Nutrition Details</a>
          <button type="button" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Add to favorites" style="margin-left: 5%;" (click)="loginalert()"><i class="bi bi-heart"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://th.bing.com/th/id/OIP.4pDFsbBYzaa5RsgDUXGpCQHaE2?pid=ImgDet&rs=1" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> <strong>Grapes</strong> </h5>
          <a  class="btn btn-primary" (click)="detailsdummy(321360,'Grapes')">Nutrition Details</a>
          <button type="button" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Add to favorites" style="margin-left: 5%;" (click)="loginalert()"><i class="bi bi-heart"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://thumbs.dreamstime.com/b/almonds-bowl-black-background-peeled-white-isolated-image-176081395.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> <strong>Almond</strong> </h5>
          <a href="#" class="btn btn-primary" (click)="detailsdummy(323294,'Almond')">Nutrition Details</a>
          <button type="button" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Add to favorites" style="margin-left: 5%;" (click)="loginalert()"><i class="bi bi-heart"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://thumbs.dreamstime.com/b/strawberry-black-background-fruit-closeup-isolated-43444670.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> <strong>Strawberry</strong> </h5>
          <a  class="btn btn-primary" (click)="detailsdummy(747448,'Strawberry')">Nutrition Details</a>
          <button type="button" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Add to favorites" style="margin-left: 5%;" (click)="loginalert()"><i class="bi bi-heart"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://th.bing.com/th/id/R.20a2bc75e3af680f64dee3871cf101bf?rik=%2fL4dnDqv9plIww&riu=http%3a%2f%2fwww.colourbox.com%2fpreview%2f4453437-red-tomato-on-black-background.jpg&ehk=I%2boMjsc%2bPZ4D8Sw9g8GRKHs5UDg9nX7eS3ttAiG4yUI%3d&risl=&pid=ImgRaw&r=0" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> <strong>Tomato</strong> </h5>
          <a  class="btn btn-primary" (click)="detailsdummy(1750354,'Tomato')">Nutrition Details</a>
          <button type="button" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Add to favorites" style="margin-left: 5%;" (click)="loginalert()"><i class="bi bi-heart"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://th.bing.com/th/id/OIP.v1THZJUfl-QTr-aygNTAPAHaE7?pid=ImgDet&rs=1" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> <strong>Onion</strong> </h5>
          <a  class="btn btn-primary" (click)="detailsdummy(790577,'Onion')">Nutrition Details</a>
          <button type="button" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Add to favorites" style="margin-left: 5%;" (click)="loginalert()"><i class="bi bi-heart"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
 