/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

body{
    background-color: #cac1c1;;
    background-image: url("https://media.istockphoto.com/photos/varied-food-carbohydrates-protein-vegetables-fruits-dairy-legumes-on-picture-id1218254547");
    
    background-blend-mode: soft-light;
    background-size: 1080px 720px;
}

input.form-control,input.form-control:focus{
    background-color: #f3f4f7;
    color: rgb(10, 9, 9);
    border: 1px solid #636b7b;

}

input.form-control:focus{
    box-shadow: white;
}

button[type=submit].btn{
    border-radius: 20px;
    background-color: #b0e3d1;
    color: rgb(1, 1, 1);
}

div.form-group label:not(.text-danger){
    color: #587474;
    font-weight: 700;
}

div.form-group.required>label:first-child:after{
    content:'*';
    color: rgb(21, 21, 21);
    padding-left: 5px;
}

#toast-container > div {
    opacity:1;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    padding: 20px;
  }

  .wrapped-div {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #f6f7fa;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  }

  /* Tabs */
.tab-header{
    text-align: center;
}

  .tab-header h2.active {
    color: rgb(25, 87, 54);
    border-bottom: 4px solid rgb(7, 56, 28);
  }

  .tab-header h2 {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    display:inline-block;
    padding: 30px 40px 10px 40px;
    cursor: pointer;
    color: #ade1b1;
    border-bottom: 2px solid #74a382;
  }

  .tab-header h2:focus {
      outline: none;
  }

  form{
      margin: 0px 16px;
  }

 div.form-group input.invalid{
    border: 1px solid #dc3545; 
 }
 div.form-group label:first-child{
    text-transform: uppercase;
    font-size: 0.9rem;
 }

